.container
  .header-image
    .row
      .col-md-8.col-md-offset-2
        = image_tag("sunnyslogo.png", id: 'logo')
    .row
      .col-md-8.col-md-offset-2
        %p.description.text-center There are one-of-a-kinds in this world. Sunny's Bar is one of them. After a long uphill battle since Superstorm Sandy, this old Brooklyn Institution is ready to plan a long future. The good news is that we have banks onboard to give us the mortgage, but since we had to agree to pay a lot more than we initially thought for the building, we need help beefing up the downpayment. Invest in good spirit, and help secure good times for years and years to come!!!
        %p.description.text-center Don't let the sun go down on this Brooklyn community institution! SUNNY'S FOREVER is a campaign to secure the future of the what the New York Times called "the glorious dive, music hall, art gallery and oddball hangout on the waterfront in Red Hook." Sunny’s Bar, Revived After Hurricane Sandy, Is Being Saved, Again - New York Times, January 2017
  #money-meter
    %h3.text-center.money-text
      = "So far we have raised $#{number_with_delimiter(@amount_raised.to_i)} out of #{@amount_needed}"
    .row
      .col-md-6.col-md-offset-3
        .progress
          .progress-bar.progress-bar-success.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: #{@goal_percent}; min-width: 3em;"}
            %span
              = "$#{@amount_raised.to_i}"
  %main#events
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1 EVENTS
    .row
      .col-md-6.col-md-offset-3.text-center
        %h2#monday_event Starting in April, Sunny's will be open every Monday at 4:00 PM with Live Jazz starting at 7:00 PM and a Signature Cocktail!
    .row
      .col-md-8.col-md-offset-2
        .row.hidden-sm.hidden-xs
          .col-md-2
            %h3.column-heads
              Date
          .col-md-4
            %h3.column-heads
              Location
          .col-md-2
            %h3.column-heads
              Time
          .col-md-4
            %h3.column-heads
              Details
        .row.event
          .col-md-2
            = ''
          .col-md-4
            %h4
              = @first.location
          .col-md-2
            %h4
              %a{:href => "#{@first.loction_url}"}
                 = @first.location
          .col-md-4
            %h5
              -# = @first.details
        .row.event
          .col-md-2
            = ''
          .col-md-4
            %h4
              -# %a{:href => "#{@second.loction_url}"}
              -#   = @second.location
          .col-md-2
            %h4
              -# = @second.time
          .col-md-4
            %h5
              -# = @second.details
        - @events.each do |event|
          .row.event
            .col-md-2
              %h4
                = event.date
            .col-md-4
              %h4
                %a{:href => "#{event.location_url}"}
                  = event.location
            .col-md-2
              %h4
                = event.time
            .col-md-4
              %h5
                = event.details
  #donate
    .row
      .col-md-6.col-md-offset-3.text-center
        %h3 Can't make it to one of our great events? Donate here!
    .row
      .col-md-6.col-md-offset-3.text-center
        %h3 Via Venmo
    .row
      .col-md-2.col-sm-2.col-xs-2.col-md-offset-4.col-sm-offset-4
        = text_field_tag :amount, '$', class: 'form-control', id: 'donate-field'
      .col-md-2.col-sm-2.col-xs-2
        %a#donate-button.btn.btn-primary{:href => "https://venmo.com/?txn=pay&audience=friends&recipients=SunnysforeverRedhook"} Donate!
    .row
      .col-md-6.col-md-offset-3.text-center
        %h3 By Mail
    .row
      .col-md-6.col-md-offset-3.text-center
        %h4 Mail Donations To:
        %h4 253 Conover Street, Brooklyn, NY 11231
  .footer
    .row
      .col-md-6.pull-left
        %a{:href => "http://johnmaguiredeveloper.com/"} &copy; John Maguire Designs
      .col-md-1.pull-right
        %a{:href => "https://www.facebook.com/sunnysredhook/"}
          %i.fa.fa-facebook-square.fa-3x{"aria-hidden" => "true"}
